{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}Basic Strategy{% endblock %}

{% block nav %}

{% include "blackjack/blackjack_nav.html" %}

{% endblock nav %}

{% block content %}
<h3>Basic strategy</h3>
<div class="row">
    <div class="column">
        <h4>Basic strategy</h4>
    </div>
    <div class="column">
        <h4>Basic statregy no double</h4>
    </div>
<div class="row">
    <div class="column">
        <table class="BS" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th width="60px"></th>
                    {% for card in deck_value %}
                        <th width="60px">{{ card }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dec in dec_list %}
                    {% if forloop.counter0|divisibleby:11 %}<tr>{% endif %}
                        {% if  color_dict|dictvalue:dec %}
                            <td bgcolor="{{ color_dict|dictvalue:dec }}">{{ dec }}</td>
                        {% else %}
                        <th>{{ dec }}</th>
                        {% endif %}
                    {% if forloop.counter|divisibleby:11 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <table class="BS" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th width="60px"></th>
                    {% for card in deck_value %}
                        <th width="60px">{{ card }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dec in dec_list_no_double %}
                    {% if forloop.counter0|divisibleby:11 %}<tr>{% endif %}
                        {% if  color_dict|dictvalue:dec %}
                            <td bgcolor="{{ color_dict|dictvalue:dec }}">{{ dec }}</td>
                        {% else %}
                        <th>{{ dec }}</th>
                        {% endif %}
                    {% if forloop.counter|divisibleby:11 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="column">
        <h4>Basic strategy no split</h4>
    </div>
    <div class="column">
        <h4>Basic statregy no double no split</h4>
    </div>
<div class="row">
    <div class="column">
        <table class="BS" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th width="60px"></th>
                    {% for card in deck_value %}
                        <th width="60px">{{ card }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dec in dec_list_no_split %}
                    {% if forloop.counter0|divisibleby:11 %}<tr>{% endif %}
                        {% if  color_dict|dictvalue:dec %}
                            <td bgcolor="{{ color_dict|dictvalue:dec }}">{{ dec }}</td>
                        {% else %}
                        <th>{{ dec }}</th>
                        {% endif %}
                    {% if forloop.counter|divisibleby:11 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <table class="BS" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th width="60px"></th>
                    {% for card in deck_value %}
                        <th width="60px">{{ card }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dec in dec_list_no_double_no_split %}
                    {% if forloop.counter0|divisibleby:11 %}<tr>{% endif %}
                        {% if  color_dict|dictvalue:dec %}
                            <td bgcolor="{{ color_dict|dictvalue:dec }}">{{ dec }}</td>
                        {% else %}
                        <th>{{ dec }}</th>
                        {% endif %}
                    {% if forloop.counter|divisibleby:11 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h3>Counts</h3>

<table class="BS" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <th width="60px"></th>
            {% for card in deck_value %}
                <th width="60px">{{ card }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for count in counts_list %}
            {% if forloop.counter0|divisibleby:11 %}<tr>{% endif %}
                <td bgcolor="{{ count.1 }}">{{ count.0 }}</td>
            {% if forloop.counter|divisibleby:11 %}</tr>{% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block style %}

{% endblock style %}